.history {
    width: 610px;
    margin: auto;
    margin-top: 50px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.history__head {

    background-color: rgb(20, 150, 144);
    text-transform: uppercase;
    color: white;
    padding: 10px 30px;
    box-shadow: 2px 3px 5px rgb(37, 73, 73);
    border: 1px solid rgb(29, 135, 197);

}

.history__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.history__body {
    display: flex;
    flex-direction: column;
    background-color: white;

    box-shadow: 2px 3px 5px rgb(220, 240, 244);

}