.history__item {
    display: flex;
    justify-content: flex-start;
    padding: 10px 30px;
    border: 1px solid rgb(220, 240, 244);
     border-collapse: separate;
    border-spacing: 5px;
}

.history__item:nth-child(2n) {
    background-color: rgb(172, 235, 221);
    
}

.history__type {
    width: 210px;
}

.history__amount {
    text-align: start;
    width: 230px;
}

.history__currency {
    text-align: end;
}